@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
:root {
  --header-height: 3.5rem;
  /* Color mode HSL*/
  --first-color: hsl(355, 70%, 54%);
  --first-color-alt: hsl(355, 66%, 50%);
  --title-color: hsl(355, 4%, 15%);
  --text-color: hsl(355, 4%, 35%);
  --text-color-light: hsl(355, 4%, 55%);
  --body-color: #fff;
  --container-color: #fff;
  /* Font and typography */
  --body-font: 'Poppins', sans-serif;
  --biggest-font-size: 1.5rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;
  /* Font wiight */
  --font-medium: 500;
  --font-semi-bold: 600;
  /* Margin bottom */
  --mb-0-25: .25rem;
  --mb-0-5: .5rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  /* z-index */
  --z-tooltip: 10;
  --z-fixed: 100;
}

@media screen and (min-width: 968px) {
  :root {
    --biggest-font-size: 2.5rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

/* Base */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body,
button,
input {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  margin: var(--header-height) 0 0 0;
  background-color: var(--body-color);
  color: var(--text-color);
  -webkit-transition: .4s;
  transition: .4s;
}

h1, h2, h3, h4 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

.container {
  max-width: 968px;
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
}

.grid {
  display: -ms-grid;
  display: grid;
}

.main {
  overflow: hidden;
}

.section {
  padding: 4.5rem 0 1rem;
}

.section-title {
  font-size: var(--h2-font-size);
  margin-bottom: var(--mb-2-5);
  text-align: center;
}

/* Header */
.header {
  width: 100%;
  background-color: var(--body-color);
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  -webkit-transition: .4s;
  transition: .4s;
}

/* Nav */
.nav {
  height: var(--header-height);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-logo,
.nav-close,
.nav-toggle {
  color: var(--title-color);
}

.nav-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: .25rem;
          column-gap: .25rem;
  font-weight: var(--font-medium);
}

.nav-logo-img {
  width: 1.5rem;
}

.nav-toggle {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 1.25rem;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .nav-menu {
    position: fixed;
    background-color: var(--body-color);
    top: -100%;
    left: 0;
    width: 100%;
    padding: 4rem 0;
    border-radius: 0 0 1.5rem 1.5rem;
    -webkit-box-shadow: 0 1px 4px rgba(40, 37, 37, 0.1);
            box-shadow: 0 1px 4px rgba(40, 37, 37, 0.1);
    -webkit-transition: .4s;
    transition: .4s;
  }
}

.nav-img {
  width: 100px;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: rotate(-15deg);
          transform: rotate(-15deg);
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 1.5rem;
}

.nav-link {
  color: var(--title-color);
  font-weight: var(--font-medium);
  -webkit-transition: .3s;
  transition: .3s;
}

.nav-link:hover {
  color: var(--first-color);
}

.nav-close {
  font-family: 2rem;
  position: absolute;
  top: .5rem;
  right: 1rem;
  cursor: pointer;
}

.show-menu {
  top: 0;
}

/* Home */
.home-container {
  padding-top: 1.5rem;
  row-gap: 1.5rem;
}

.home-img {
  width: 320px;
  -ms-grid-column-align: center;
      justify-self: center;
}

.home-data {
  text-align: center;
}

.home-title {
  font-size: var(--biggest-font-size);
  line-height: 140%;
  margin-bottom: var(--mb-0-5);
}

.home-description {
  font-size: var(--small-font-size);
  padding: 0 2rem;
  margin-bottom: var(--mb-2-5);
}

/* Buttons */
.button {
  display: inline-block;
  background-color: var(--first-color);
  color: #fff;
  padding: 1.15rem 2.75rem;
  font-weight: var(--font-medium);
  border-radius: 3rem;
  -webkit-transition: .3s;
  transition: .3s;
}

.button:hover {
  background-color: var(--first-color-alt);
}

/* Giving */
.giving-container {
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  gap: 2.5rem 1.5rem;
}

.giving-content {
  text-align: center;
}

.giving-img {
  width: 100px;
  -webkit-transition: .3s;
  transition: .3s;
}

.giving-title {
  font-size: var(--h3-font-size);
  margin-bottom: var(--mb-0-25);
}

.giving-description {
  font-size: var(--small-font-size);
}

.giving-img:hover {
  -webkit-transform: translateY(-0.25rem);
          transform: translateY(-0.25rem);
}

/* Change background header */
.scroll-header {
  -webkit-box-shadow: 0 1px 4px rgba(40, 37, 37, 0.1);
          box-shadow: 0 1px 4px rgba(40, 37, 37, 0.1);
}

/* Celebrate */
.celebrate-container {
  row-gap: 1rem;
}

.celebrate-data {
  text-align: center;
}

.celebrate-title {
  margin-bottom: var(--mb-1-5);
}

.celebrate-description {
  margin-bottom: var(--mb-2-5);
}

.celebrate-img {
  width: 280px;
  -ms-grid-column-align: center;
      justify-self: center;
}

/* Gift */
.gift-container {
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}

.gift-card {
  display: -ms-grid;
  display: grid;
  position: relative;
  background-color: var(--container-color);
  -webkit-box-shadow: 0 4px 16px rgba(48, 29, 30, 0.1);
          box-shadow: 0 4px 16px rgba(48, 29, 30, 0.1);
  padding: 1.5rem 1rem 1rem;
  border-radius: .75rem;
}

.gift-img {
  width: 100px;
  -ms-grid-column-align: center;
      justify-self: center;
  margin-bottom: var(--mb-0-25);
  -webkit-transition: .3s;
  transition: .3s;
}

.gift-icon {
  font-size: 1.25rem;
  color: var(--first-color);
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}

.gift-price {
  font-size: var(--h3-font-size);
}

.gift-title {
  font-size: var(--smaller-font-size);
  font-weight: var(--font-medium);
}

.gift-card:hover .gift-img {
  -webkit-transform: translateY(-0.25rem);
          transform: translateY(-0.25rem);
}

/* New */
.new-card {
  position: relative;
  width: 230px !important;
  background-color: var(--container-color);
  -webkit-box-shadow: 0 4px 16px rgba(48, 29, 30, 0.1);
          box-shadow: 0 4px 16px rgba(48, 29, 30, 0.1);
  padding: 1rem 1rem 1.5rem;
  border-radius: .75rem;
  text-align: center;
  margin-bottom: 4rem;
  overflow: hidden;
}

.new-overlay {
  width: 250px;
  height: 250px;
  background-color: var(--first-color);
  border-radius: 50%;
  position: absolute;
  top: -5rem;
  left: -.65rem;
  z-index: 0;
}

.new-img {
  position: relative;
  width: 150px;
  margin-bottom: var(--mb-2);
  -webkit-transition: .3s;
  transition: .3s;
}

.new-price {
  font-size: var(--h2-font-size);
}

.new-title {
  font-weight: var(--font-medium);
}

.new-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: .5rem;
  border-radius: .25rem .25rem .75rem .25rem;
  position: absolute;
  right: 0;
  bottom: 0;
}

.new-icon {
  font-size: 1.25rem;
}

.new-card:hover .new-img {
  -webkit-transform: translateY(-0.5rem);
          transform: translateY(-0.5rem);
}

/* Swiper class */
.swiper-pagination-bullet {
  background-color: var(--text-color);
}

.swiper-pagination-bullet-active {
  background-color: var(--first-color);
}

/* Message */
.message-container {
  row-gap: 3rem;
  background-color: var(--first-color);
  padding: 2.5rem 1.5rem 2.5rem;
  border-radius: 1.25rem;
}

.message-form {
  text-align: center;
}

.message-title {
  color: #fff;
  margin-bottom: var(--mb-1-5);
}

.message-input {
  width: 100%;
  background: #fff;
  color: var(--text-color);
  padding: 1rem 1.5rem;
  border-radius: 3rem;
  border: none;
  outline: none;
  margin-bottom: var(--mb-1);
}

.message-button {
  background-color: var(--title-color);
  width: 100%;
}

.message-button:hover {
  background-color: var(--title-color);
}

.message-img {
  width: 200px;
  -ms-grid-column-align: center;
      justify-self: center;
  -webkit-transform: rotate(15deg);
          transform: rotate(15deg);
}

/* Footer */
.footer {
  overflow: hidden;
}

.footer-container {
  position: relative;
  row-gap: 2rem;
}

.footer-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: .25rem;
          column-gap: .25rem;
  color: var(--title-color);
  font-weight: var(--font-medium);
}

.footer-logo-img {
  width: 1.5rem;
}

.footer-description {
  font-size: var(--small-font-size);
}

.footer-logo,
.footer-title {
  margin-bottom: var(--mb-1);
}

.footer-title {
  font-size: var(--h3-font-size);
}

.footer-links,
.footer-aviables {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: .75rem;
}

.footer-link {
  color: var(--text-color);
  -webkit-transition: .3s;
  transition: .3s;
}

.footer-link:hover {
  color: var(--title-color);
}

.footer-aviable-img {
  width: 100px;
  cursor: pointer;
}

.footer-copy {
  display: block;
  margin: 3.5rem 0 1rem 0;
  text-align: center;
  font-size: var(--smaller-font-size);
  color: var(--text-color-light);
}

.footer-img1,
.footer-img2 {
  position: absolute !important;
  width: 100px;
}

.footer-img1 {
  top: 25%;
  right: 2rem;
}

.footer-img2 {
  top: 75%;
  right: -4rem;
}

/* Active link */
.active-link {
  color: var(--first-color);
}

/* Scroll Up */
.scrollup {
  position: fixed;
  right: 1rem;
  bottom: -30%;
  background-color: var(--container-color);
  -webkit-box-shadow: 0 4px 12px rgba(51, 51, 51, 0.1);
          box-shadow: 0 4px 12px rgba(51, 51, 51, 0.1);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: .35rem;
  border-radius: var(--z-tooltip);
  opacity: .8;
  -webkit-transition: .4;
  transition: .4;
}

.scrollup-icon {
  font-size: 1.25rem;
  color: var(--first-color);
}

.scrollup:hover {
  opacity: 1;
}

/* Show Scroll Up*/
.show-scroll {
  bottom: 3rem;
}

/* Scroll Bar */
::-webkit-scrollbar {
  width: .6rem;
  background: #796769;
  border-radius: 1rem;
}

::-webkit-scrollbar-thumb {
  background: #391d20;
  border-radius: 1rem;
}

/* Theme */
.nav-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 1rem;
          column-gap: 1rem;
}

.change-theme {
  color: var(--title-color);
  font-size: 1.25rem;
  cursor: pointer;
}

/* Variables Dark Theme*/
body.dark-theme {
  --title-color: hsl(355, 4%, 95%);
  --text-color: hsl(355, 4%, 75%);
  --body-color: hsl(355, 20%, 12%);
  --container-color: hsl(355, 16%, 16%);
}

.dark-theme .scroll-header,
.dark-theme .nav-menu {
  -webkit-box-shadow: 0 2px 4px rgba(10, 10, 10, 0.3);
          box-shadow: 0 2px 4px rgba(10, 10, 10, 0.3);
}

.dark-theme .message-container {
  background-color: var(--container-color);
}

.dark-theme .message-input {
  background-color: var(--body-font);
}

.dark-theme .message-button {
  background-color: var(--first-color);
}

.dark-theme .message-button:hover {
  background-color: var(--first-color-alt);
}

.dark-theme::-webkit-scrollbar {
  background: #534647;
}

/* Small Device */
@media screen and (max-width: 320px) {
  .container {
    margin-left: var(--mb-1);
    margin-left: var(--mb-1);
  }
  .giving-container {
    gap: 1rem;
  }
  .gift-container {
    -ms-grid-columns: 150px;
        grid-template-columns: 150px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

/* Medium Device */
@media screen and (min-width: 576px) {
  .home-description {
    padding: 0 8rem;
  }
  .giving-container {
    -ms-grid-columns: (142px)[2];
        grid-template-columns: repeat(2, 142px);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 2.5rem 3.5rem;
  }
  .celebrate-description {
    padding: 0 4rem;
  }
  .gift-container {
    -ms-grid-columns: (180px)[2];
        grid-template-columns: repeat(2, 180px);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 2rem;
  }
  .message-input,
  .message-button {
    width: 60%;
  }
  .footer-container {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 767px) {
  body {
    margin: 0;
  }
  .section {
    padding: 6.5rem 0 2rem;
  }
  .nav {
    height: calc(var(--header-height) + 1.5rem);
    -webkit-column-gap: 3rem;
            column-gap: 3rem;
  }
  .nav-toggle,
  .nav-close,
  .nav-img {
    display: none;
  }
  .nav-menu {
    margin-left: auto;
  }
  .nav-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-column-gap: 3rem;
            column-gap: 3rem;
  }
  .dark-theme .nav-menu {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .home-container,
  .celebrate-container {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .home-container {
    padding-top: 8rem;
  }
  .home-data {
    text-align: initial;
  }
  .home-description {
    padding: 0;
  }
  .giving-container {
    -ms-grid-columns: (142px)[3];
        grid-template-columns: repeat(3, 142px);
    -webkit-column-gap: 5rem;
            column-gap: 5rem;
  }
  .celebrate-data {
    text-align: initial;
  }
  .celebrate-description {
    padding: 0;
  }
}
/*# sourceMappingURL=style.css.map */